.about {
    position: absolute;
    width: 100vw;
    color: white;
    top: 55px;

    h2 {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 5vh;
    }
    h3 {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 4vh;
    }
    h4 {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        text-align: center;
        font-size: 1.1em;
        padding: 3%;
        span {
            margin-left: 5%;
        }

    }
}
@media (min-width: 600px) and (min-height: 550px) {
.about {

    h2 {
        
        font-size: 2.5em;
        margin-bottom: 5%;
    }
    h3 {
      
        font-size: 2.1em;
        margin-bottom: 4%;
    }

    h4 {
        text-align: left;
        font-size: 1.9em;

    }
}


}
