@keyframes line-forward {
    0% {     
      transform: translatex(-150vw);
    }
    100% {
      transform: translatex(0);
    }
  }

  @keyframes line-backward {
    0% {     
      transform: translatex(150vw);
    }
    100% {
      transform: translatex(0);
    }
  }
  @keyframes arrow {
    100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(10px); 
    }
  }

  @keyframes details-string {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

  


