.loading-screen {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
    display: block;
    color: white;
    .percent-loaded {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
